In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        20491 non-null  object
 1   prediction  20491 non-null  object
dtypes: object(2)
memory usage: 320.3+ KB

# Getting only the Label Number/Rating Given by the User

In [4]:
df['prediction'][0]

"[{'label': 4, 'score': 1.0}]"

In [5]:
df['prediction'][0][11]

'4'

In [6]:
type(df['prediction'][0][11])

str

In [7]:
int(df['prediction'][0][11])

4

In [8]:
df['label'] = 1

In [9]:
for row in range(len(df)):
    df['label'][row] = (int(df['prediction'][row][11]))

In [11]:
df.head()

,text,prediction,label
0,beautiful accomodations stayed hotel santa mar...,"[{'label': 4, 'score': 1.0}]",4
1,great hotel great location hotel located la ra...,"[{'label': 5, 'score': 1.0}]",5
2,beautiful hotel great location like beautifull...,"[{'label': 4, 'score': 1.0}]",4
3,great deal waikiki trip hawaii outrigger luana...,"[{'label': 4, 'score': 1.0}]",4
4,choose airport hotel busy triparound australia...,"[{'label': 1, 'score': 1.0}]",1

In [16]:
df['label'].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: label, dtype: int64