In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        20491 non-null  object
 1   prediction  20491 non-null  object
dtypes: object(2)
memory usage: 320.3+ KB

# Getting only the Label Number/Rating Given by the User

In [4]:
df['prediction'][0]

"[{'label': 4, 'score': 1.0}]"

In [5]:
df['prediction'][0][11]

'4'

In [6]:
type(df['prediction'][0][11])

str

In [7]:
int(df['prediction'][0][11])

4

In [8]:
df['rating'] = 1

In [10]:
for row in range(len(df)):
    df['rating'][row] = (int(df['prediction'][row][11]))

In [11]:
df.head()

,text,prediction,rating
0,beautiful accomodations stayed hotel santa mar...,"[{'label': 4, 'score': 1.0}]",4
1,great hotel great location hotel located la ra...,"[{'label': 5, 'score': 1.0}]",5
2,beautiful hotel great location like beautifull...,"[{'label': 4, 'score': 1.0}]",4
3,great deal waikiki trip hawaii outrigger luana...,"[{'label': 4, 'score': 1.0}]",4
4,choose airport hotel busy triparound australia...,"[{'label': 1, 'score': 1.0}]",1

In [12]:
df['rating'].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: rating, dtype: int64

In [ ]:
df.info()

# Making a Label for a rating be Binary Positive or Negative
### 3 belove 'Negative', 4 above 'Postive'

In [30]:
 df['Label'] = 1

In [31]:
for row in range(len(df)):
    if df['rating'][row] <= 3:
        df['Label'][row] = 'Negative'
    else:
        df['Label'][row] = 'Positive'

In [36]:
df.drop(columns=['prediction'], inplace=True)

In [39]:
df.head()

                                                text  rating     Label
0  beautiful accomodations stayed hotel santa mar...       4  Positive
1  great hotel great location hotel located la ra...       5  Positive
2  beautiful hotel great location like beautifull...       4  Positive
3  great deal waikiki trip hawaii outrigger luana...       4  Positive
4  choose airport hotel busy triparound australia...       1  Negative

In [40]:
df[df['rating'] == 5]

                                                    text  rating     Label
1      great hotel great location hotel located la ra...       5  Positive
5      best hotel stayed picked hotel casablanca base...       5  Positive
6      returning just returned staying property busin...       5  Positive
8      fantastic, just returned home weekend intercon...       5  Positive
9      just, harbour plaza 10 nights holiday trip.the...       5  Positive
...                                                  ...     ...       ...
20483  loved girlfriend stayed hilton times squareand...       5  Positive
20484  extended stay visited westin rio mar group 15 ...       5  Positive
20485  best berlin amazing, superlative read correct,...       5  Positive
20486  hidden paradise middle city make reservation h...       5  Positive
20488  absolutely lovely, place truly heaven atmosphe...       5  Positive

[9054 rows x 3 columns]

# Creating a new CSV for Raw Clean Data for Sentiment Analysis/Topic Modeling

In [41]:
df.to_csv('raw_clean_data.csv', index=False)